body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 25px;
    background-color: #f4f4f4;
    background-image: radial-gradient(circle, #DCD6F7, #f5f5f5);
    color: #333;
}

header {
    background-color: #424874;
    color: #fff;
    text-align: right;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

header > h1 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.menu > ul {
    padding: 15px;
    height: 20px;
    text-align: left;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu >  ul > li {
    display: inline;
}

.menu > ul > li > a {
    color: rgb(241, 243, 248);
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

.menu > ul > li > a:hover{
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 8px;
    color: #000000;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 0 20px;
    max-width: 800px;
}

.contact {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.contact-text {
    margin-bottom: 20px;
}

.info {
    margin-top: 20px;
    text-align: center; /* Mengatur teks menjadi rata tengah */
}

.info span {
    font-weight: bold;
    color: #333;
}

.contact-form {
    width: 48%;
}

form {
    margin-top: 20px;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form textarea {
    resize: none;
}

form input[type="submit"] {
    background-color: #424874;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; /* Agar tombol memiliki sudut yang melengkung */
    transition: background-color 0.3s; /* Animasi perubahan warna latar belakang */
}

form input[type="submit"]:hover {
    background-color: #30335c; /* Warna latar belakang saat tombol disorot */
}

footer {
    background-color: #424874;
    color: #fff;
    text-align: left;
    padding: 0 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
