body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 40px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #424874;
    color: #fff;
    text-align: right; /* Mengatur teks header menjadi rata kanan */
    padding-top: 15px;
    display: flex; /* Menggunakan flexbox */
    justify-content: space-between; /* Menjadikan header dan menu berada di dua sisi berlawanan */
    align-items: center; /* Memusatkan vertikal isi header dan menu */
    padding: 5px 30px;
}

header > h1 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.menu > ul {
    padding: 15px;
    height: 20px;
    text-align: left; /* Mengatur teks menu menjadi rata kiri */
    list-style-type: none;
    display: flex; /* Menggunakan flexbox */
    justify-content: flex-start; /* Menjadikan isi menu berada di sisi kiri */
    align-items: center;
}

.menu >  ul > li {
    display: inline;
}

.menu > ul > li > a {
    color: rgb(241, 243, 248);
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

.menu > ul > li > a:hover{
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 8px;
    color: #000000;
}

.gallery {
    padding: 30px 15px;
}

footer {
    background-color: #424874;
    color: #fff;
    text-align: left;
    padding: 0 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    text-align: left;
    padding: 2px 25px;
}

.gallery > h3 {
    margin-top: 2px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

img {
    height: 250px;
    width: auto;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.imgcon1, .imgcon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imgcon1 img, .imgcon2 img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.imgcon1 img:hover, .imgcon2 img:hover {
    transform: scale(1.1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}